* {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  background: #FDFDFD;

  overflow: hidden;
}

img {
  user-select: none;
}

button {
  user-select: none;
}

div#interface {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

div#center_box {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  width: 350px;
  height: 500px;

  padding: 10px;
  border: 5px solid #cdcdcd;
  border-radius: 2px;
}

div#center_box * {
  margin-bottom: 5px;
}

div#center_box button {
  color: white;
  font-weight: bold;
  font-family: Arial;
  font-style: sans-serif;
  font-size: 20px;

  border: none;
  border-radius: 5px;

  padding: 10px;

  background: rgb(11, 145, 255);

  transition: 0.08s;
}

div#center_box button:hover {
  background: rgb(85, 165, 231);
}

div#center_box button:active {
  background: rgb(8, 125, 221);
}

img#logo {
  width: auto;
  height: auto;

  max-width: 60%;

  margin-top: 5px;
}

div#business_name {
  font-weight: bold;
  font-family: Arial;
  font-style: sans-serif;
  font-size: 24px;
  color: #1d4152;
}

button#show_slide {
  margin-top: 60px;
}

div#slide_box {
  position: absolute;
  opacity: 0;

  visibility: hidden;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.6);

  transition: opacity 0.4s;
}

div#slide_box button#close_slide_box {
  background: none;
  border: none;
  border-radius: 5px;

  padding: 5px;
  padding-top: 0px;
  padding-bottom: 3px;

  left: 96.5%;
  top: 10px;

  font-size: 25px;
  font-family: Arial;
  font-style: sans-serif;

  color: white;

  z-index: 2;

  transition: 0.08s;
}

div#slide_box div#img_list {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  margin: 0;

  width: 100%;
  height: 100%;
}

div#slide_box div#img_list img {
  width: auto;
  height: auto;

  border: 2px solid white;

  margin-left: 50px;
  margin-right: 50px;

  max-width: 60%;
}

div#slide_box div#img_list:first-child {
  left: 0px;
}

div#slide_box button#close_slide_box:hover {
  color: #CDCDCD;
}

div#slide_box button#close_slide_box:active {
  color: white;
  background: rgba(150, 150, 150, 0.4);
}